<h1>Signup for your Bookshelf</h1>
<%= render 'shared/form_errors', object: @user, object_name: "account", action: "created" %>

<%= form_for @user do |f| %>
    <% @form = f %>
    <%= render 'user' %>
<% end %>
<br>
<%= link_to 'Back', root_path %>