<h1>Bookshelf of <%= @user.name %></h1>
<% if @user.books.empty? %>
    <p>Your shelf is empty :(</p>
<% else %>
    <ul>
    <% @user.books.each do |b| %>
        <li><%= link_to "#{b.title}", book_path(b) %></li> 
        <% end %>
    </ul>
<% end %>
<br>
<%= link_to 'Add a book', new_book_path %>
<br></br>
<%= link_to 'Logout', logout_path %>