<div>
<% if object.errors.any? %>
  <div id="error_explanation">
    <h2>
      The following <%= pluralize(object.errors.count, "error") %> prevented your <%= object_name %> from being <%= action %>:
    </h2>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
</div>