<h1>Add a new book to your shelf</h1>
<%= render 'shared/form_errors', object: @book, object_name: "book", action: "added" %>

<%= form_for [@user, @book] do |f| %>
    <% @form = f %>
    <%= render 'book', book: nil %>
<% end %>


<br>
<%= link_to 'Back to Bookshelf', user_books_path(@user) %>